.ChangePasword {
  margin-top: 15px;
}

.container_change_pasword {
  width: 350px;
  margin: 0 auto;
}

.change_password_form {
  border-top: 3px solid #f1f1f1;
  padding: 14px 24px;
  box-shadow: 0 0 8px rgb(0 0 0 / 30%);
}
