.ChatScreen {
  margin-top: 15px;
  height: calc(100vh - 115px);
}

.container_border_flex {
  display: flex;
  border-top: 3px solid #f1f1f1;
  padding: 14px 24px;
  box-shadow: 0 0 8px rgb(0 0 0 / 30%);
  background-color: #f4f4f4;
  height: calc(100vh - 170px);
}

.chat_box_top {
  height: calc(100% - 120px);
  overflow-y: scroll;
  padding-right: 10px;
}

.chat_menu {
  width: 33.333%;
  /* border-right: 3px solid #ddd; */
}

.chat_box {
  width: 100%;
}

.chat_box_bottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat_input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.chat_submit {
  right: 70px;
  width: 70px;
  height: 34px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

.chat_box_product_img img {
  width: 80px;
  height: 80px;
  /* object-fit: cover; */
}

.chat_box_product {
  display: flex;
  background-color: #ffffff;
  width: 98%;
  height: 80px;
}

.chat_box_product_title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.chat_box_product_price {
  color: red;
}

.chat_box_product_info {
  margin-left: 10px;
  padding: 20px;
}

.chat_menu_conversation {
  height: 70vh;
  border: 3px solid #ccc;
  margin-bottom: 5px;
}

.chat_delete {
  font-size: 15px;
  padding: 10px;
  text-align: center;
  border: 2px solid #ccc;
}

.chat_delete:hover {
  background-color: #ddd;
  cursor: pointer;
}

.chat_delete i {
  margin-right: 5px;
}

.chat_box_message {
  font-size: 30px;
  font-weight: bold;
  opacity: 0.3;
  font-style: italic;
  text-align: center;
  display: block;
  line-height: 60vh;
}
