.LikeProductScreen {
  margin-top: 15px;
}

.title_message {
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.message {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  opacity: 0.7;
}

.message i {
  color: red;
  font-size: 20px;
}
