.PostScreen {
  margin-top: 15px;
  margin-bottom: 50px;
}

.container_postScreen {
  display: flex;
  border-top: 3px solid #f1f1f1;
  box-shadow: 0 0 8px rgb(0 0 0 / 30%);
  padding: 20px;
  box-sizing: border-box;
}

.postScreen_img {
  width: 30%;
}

.postScreen_infor {
  width: 60%;
}

.choose_img_label {
  display: flex;
  width: 250px;
  height: 250px;
  border: 2px dashed rgb(192, 188, 188);
  justify-content: center;
  align-items: center;
  color: rgb(151, 144, 144);
}

.select {
  cursor: pointer;
  padding: 10px;
  display: block;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
  margin-bottom: 20px;
  text-align: center;
  outline: none;
}

.select_infor {
  cursor: pointer;
  padding: 12px;
  display: block;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  font-size: 15px;
  margin-bottom: 20px;
  outline: none;
}

.textarea {
  font-size: 15px;
  outline: none;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  margin-top: 10px;
}
