.product_item {
  padding-top: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  width: 20%;
  text-align: center;
}

.product_item:hover {
  box-shadow: 0 0 8px rgb(0 0 0 / 30%);
  cursor: pointer;
}

.product_image {
  height: 200px;
  width: 200px;
  border-radius: 2px;
  /* border: 1px solid #ccc; */
}

.product_title {
  font-size: 16px;
  margin-top: 15px;
  color: #000;
}

.product_price_like {
  margin-top: 5px;
}

.product_price {
  margin-top: 15px;
  color: red;
  font-weight: bold;
}

.product_info {
  display: flex;
  justify-content: space-between;
  color: #000;
}

.product_time {
  font-size: 13px;
  width: 50%;
}

.product_address {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  width: 50%;
  text-overflow: ellipsis;
}

.product_info {
  margin-top: 10px;
}

.like_btn {
  font-size: 25px;
  position: relative;
  top: -50px;
  right: -180px;
  z-index: 0;
  width: 15%;
}

.like_btn:hover {
  color: red;
}

.product_detail {
  width: 100%;
}
.liked_btn i {
  color: red;
}
