.form-update {
  margin-left: 50px;
}

.btn-refresh {
  margin-left: 105px;
}

.input_color {
  background-color: #fff;
  border-bottom: 2px solid #eee;
  outline: none;
}

.avatar_update {
  margin-top: 60px;
}
